[Unit]
Description=DRL Trading Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/trading-bot/drl-trading
Environment="PYTHONPATH=/home/ubuntu/trading-bot/drl-trading"
ExecStart=/home/ubuntu/trading-bot/venv/bin/python /home/ubuntu/trading-bot/drl-trading/live_trade_metaapi.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
